<DOCTYPE HTML>
    <html>
        <head>
            <link rel="stylesheet" href="/css/styles.css">
        </head>  
            <title>About</title>  
            <body>
                <div class="main-content">
                 {{>header}} 
                 <p>This site was created by Yasir Hayat. It uses mapbox.com and darksky.net!</p> 
                <img class="potrait" src="/img/p02ldkkm.jpg">
                </div>
                
                {{>footer}}
            </body>
        
    </html>